@title-color: #1F4E8C;
@header-color: #193F70;
@progress-background-color: #E1ECF9;
@progress-foreground-color: #193F70;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAEklEQVQImWNYJq30HxtmGEgJAMoHQ8l2wNVhAAAAAElFTkSuQmCC');

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";