@title-color: #E17C0A;
@header-color: #E17C0A;
@progress-background-color: #FCE9D0;
@progress-foreground-color: #E17C0A;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGAQMAAADaAn0LAAAAA1BMVEX1fACX/7obAAAACklEQVR4XmNAAgAADAABVnU6IgAAAABJRU5ErkJggg==');
@font-family: Arial;

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";