@title-color: #1F4E8C;
@header-color: #193F70;
@progress-background-color: #E1ECF9;
@progress-foreground-color: #193F70;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGAQMAAADaAn0LAAAAA1BMVEUZP3C8Vv4lAAAACklEQVR4XmNAAgAADAABVnU6IgAAAABJRU5ErkJggg==');
@font-family: Arial;

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";