@title-color: #A50203;
@header-color: #A50203 ;
@progress-background-color: #FFE0E0;
@progress-foreground-color: #A50203;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAEklEQVQImWNYJq30HxtmGEgJAMoHQ8l2wNVhAAAAAElFTkSuQmCC');
@font-family: Arial;

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";