@title-color: #D99F00;
@header-color: #FCB901;
@progress-background-color: #FDF1C7;
@progress-foreground-color: #FCB901;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGAQMAAADaAn0LAAAAA1BMVEX1fACX/7obAAAACklEQVR4XmNAAgAADAABVnU6IgAAAABJRU5ErkJggg==');
@font-family: Arial;

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";