// @font-face {font-family:"Alvi Nastaleeq";src:url("../font/urdu/alvi_Nastaleeq_Lahori_shipped.eot?") format("eot"),url("../font/urdu/alvi_Nastaleeq_Lahori_shipped.woff") format("woff"),url("../font/urdu/alvi_Nastaleeq_Lahori_shipped.ttf") format("truetype"),url("../font/urdu/alvi_Nastaleeq_Lahori_shipped.svg#AlviNastaleeq") format("svg");font-weight:normal;font-style:normal;}
@font-face {
  font-family: 'NotoNastaliqUrdu';
  src: url('../font/urdu/NotoNastaliqUrdu.woff') format('woff'),
       url('../font/urdu/NotoNastaliqUrdu.ttf') format('truetype'),
       url('../font/urdu/NotoNastaliqUrdu.svg#NotoNastaliqUrdu') format('svg');
  font-weight: normal;
  font-style: normal;
}

@title-color: #34772E;
@header-color: #34772E ;
@progress-background-color: #E1F3DF;
@progress-foreground-color: #34772E;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGAQMAAADaAn0LAAAAA1BMVEVUxEr1UAFyAAAACklEQVR4XmNAAgAADAABVnU6IgAAAABJRU5ErkJggg==');
@font-family: 'Urdu Naskh Asiatype', Tahoma, Arial, Helvetica, sans-serif;

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";