@title-color: #1B6A45;
@header-color: #2D5745 ;
@progress-background-color: #D3E9DE;
@progress-foreground-color: #1B6A45;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAEklEQVQImWNYJq30HxtmGEgJAMoHQ8l2wNVhAAAAAElFTkSuQmCC');

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";