@title-color: #478641;
@header-color: #4F7C4B ;
@progress-background-color: #DFEBDE;
@progress-foreground-color: #478641;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGAQMAAADaAn0LAAAAA1BMVEVUxEr1UAFyAAAACklEQVR4XmNAAgAADAABVnU6IgAAAABJRU5ErkJggg==');
@font-family: 'Urdu Naskh Asiatype', Tahoma, Arial, Helvetica, sans-serif;

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";