@title-color: #5684AC;
@header-color: #5684AC;
@progress-background-color: #CDDAE6;
@progress-foreground-color: #446A8B;
@graySquareHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGAQMAAADaAn0LAAAAA1BMVEVZhKxEmJppAAAACklEQVR4XmNAAgAADAABVnU6IgAAAABJRU5ErkJggg==');
@font-family: Arial;

// Importing Bootstrap
@import "bootstrap/bootstrap.less";
@import "project/style.less";